{% extends 'layout.html' %}

{% block title %}Consulta{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data" id="main-form">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="/static/css/style.css">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="chat-container">
        <form method="POST" id="main-form">  <!-- Aquí está el cambio -->
          <div class="chat-input-container">
            <input type="text" class="chat-input" name="question" placeholder="Escribe aquí tu mensaje">
            <button class="btn btn-sm btn-primary" type="submit" id="button-addon2" style="font-size: 12px; width: 15%;">Enviar</button>
            <button class="btn btn-sm btn-primary" type="submit" name="audio" value="true" style="font-size: 12px; width: 15%">Conversar</button>
     
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="chat-history-container">
        <table class="table">
          <thead>
            <tr>
              <th>Fecha y hora</th>
              <th> </th>
              <th>Mensaje</th>
            </tr>
          </thead>
          <tbody>
            {% if chat %}
            {% for message in chat %}
            <tr>
              <td>{{ message.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
              {% if message.speaker == "user" %}
              <td><span class="user">Yo:</span></td>
              {% else %}
              <td><span class="bot">Robot:</span></td>
              {% endif %}
              <td><span class="text">{{ message.text }}</span></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="3">
                <div class="message">
                  <span class="bot">No hay conversaciones.</span>
                </div>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form method="POST">
        <div class="buttons-container mt-2">
          <button class="btn btn-sm btn-primary" type="submit" name="Cargar_conversacion" value="true" style="font-size: 12px;">Cargar conversación</button>
          <button class="btn btn-sm btn-warning" type="submit" name="Borrar_conversacion" value="true" style="font-size: 12px;">Borrar conversación</button>
        </div>
     </form>
    </div>
  </div>
</div>


{% block scripts %}

<script>

  const form = document.querySelector('#main-form'); // Asegúrate de agregar esta línea
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
   
    const formData = new FormData(form);
    
    console.log('Sending request to:', '/consulta'); // Agrega esta línea
    try {
      const response = await fetch('/consulta', {
        method: 'POST',
        body: formData,
      });

   
      const responseResult = await response.json();
      console.log("Respuesta JSON:", responseResult);


      if (responseResult.status === 'success') {
        await speak(responseResult.answer);
        location.reload();
      }
    } catch (error) {
      console.error("Ocurrió un error al procesar la respuesta JSON:", error);
      // Aquí puedes mostrar un mensaje de error al usuario o manejar el error de otra manera
    }
  });


  function speak(text) {
    return new Promise((resolve) => {
      const msg = new SpeechSynthesisUtterance(text);
      msg.lang = 'es-ES';
      msg.volume = 1;

      msg.onend = function () {
        resolve();
      };

      window.speechSynthesis.speak(msg);
    });
  }


</script>
{% endblock scripts %}


{% endblock %}