{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}


<section class="home-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12">
          <h1 class="text-center">Conversa con nuestro ROBOT y descubre un mundo de posibilidades</h1>
          <p>Empieza a conversar con nuestro robot y descubre todas las cosas increíbles que puede hacer por ti.</p>
          
          <a href="/login" class="btn btn-primary btn-lg d-block mx-auto text-center">Empezar</a>

        </div>
      </div>
    </div>
  </section>

<section class="home-features">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Disponibilidad 24/7</h3>
        <p>Nuestro robot está siempre disponible para ti, sin importar la hora o el día.</p>
      </div>
      <div class="col-md-4">
        <h3>Respuestas precisas</h3>
        <p>Nuestro robot es capaz de responder preguntas con precisión y rapidez.</p>
      </div>
      <div class="col-md-4">
        <h3>Varios idiomas</h3>
        <p>Nuestro robot puede comunicarse contigo en varios idiomas, para que puedas sentirte cómodo y comprendido.</p>
      </div>
    </div>
  </div>
</section>
    
{% endblock %}
