<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    <nav class="menu">
        <a href="/"><label for="" class="logo"> <i class="fas fa-robot"></i> CHAT ROBOT</label></a>
       
        <ul class="menu-opc">
            <li>
                <a href="/">inicio</a>
            </li>

            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/registro">Registro</a>
            </li>
            <li>
                <a href="/consulta">Consulta</a>
            </li>
            <li>
                <a href="/salir">Salir</a>
            </li>

        </ul>
    </nav>
    
    {% block content %}
    
    {% endblock %}
</body>
</html>